* {
  box-sizing: border-box;
}

.canvas-container {
  padding: 0;
  box-shadow: 1px 1px 5px black, -1px -1px 5px black;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.canvas-box {
  margin: 0;
}
